views/carreras/crearForm.pug
extends ../layout

block content
    p
        a(href=`/carreras`) Volver a la lista de carreras
    h1 Crear carrera
    if mensaje
        pre #{mensaje}
    form(method='POST' action='/carreras/crear')
        label(for='numero') *Numero:
        input#numero(type='numero' name='numero' )
        br

        label(for='descripcion') *Descripcion:
        input#descripcion(type='text' name='descripcion' )
        br

        label(for='fecha') *Fecha:
        input#fecha(type='date' name='fecha' )
        br

        label(for='horaInicio') *Hora Inicio:
        input#horaInicio(type='time' name='horaInicio' )
        br

        label(for='distancia') *Distancia(m):
        input#distancia(type='number' name='distancia' )
        br

        input(type='submit' value='Crear')

views/carreras/crearForm.html
<!DOCTYPE html><html><head><title></title><link rel="stylesheet" href="/stylesheets/style.css"></head><body><p><a href="/carreras">Volver a la lista de carreras</a></p><h1>Crear carrera</h1><form method="POST" action="/carreras/crear"><label for="numero">*Numero:</label><input id="numero" type="numero" name="numero"><br><label for="descripcion">*Descripcion:</label><input id="descripcion" type="text" name="descripcion"><br><label for="fecha">*Fecha:</label><input id="fecha" type="date" name="fecha"><br><label for="horaInicio">*Hora Inicio:</label><input id="horaInicio" type="time" name="horaInicio"><br><label for="distancia">*Distancia(m):</label><input id="distancia" type="number" name="distancia"><br><input type="submit" value="Crear"></form></body></html>
