views/participantes/crearForm.pug
extends ../layout
block content
    h1 Crear Participante
    if mensaje
        pre #{mensaje}

    form(method='POST' action='crear')
        label(for='dorsal') Dorsal:
        input#dorsal(type='text' name='dorsal' placeholder='Asignado automaticamente' disabled=true)
        br

        label(for='nombre') *Nombre:
        input#nombre(type='text' name='nombre' )
        br

        label(for='apellidos') *Apellidos:
        input#apellidos(type='text' name='apellidos' )
        br

        label(for='dni') *Dni:
        input#dni(type='text' name='dni' )
        br

        label(for='club') Club:
        input#club(type='text' name='club')
        br

        input(type='submit' value='Crear')

views/participantes/crearForm.html
<!DOCTYPE html><html><head><title></title><link rel="stylesheet" href="/stylesheets/style.css"></head><body><h1>Crear Participante</h1><form method="POST" action="crear"><label for="dorsal">Dorsal:</label><input id="dorsal" type="text" name="dorsal" placeholder="Asignado automaticamente" disabled><br><label for="nombre">*Nombre:</label><input id="nombre" type="text" name="nombre"><br><label for="apellidos">*Apellidos:</label><input id="apellidos" type="text" name="apellidos"><br><label for="dni">*Dni:</label><input id="dni" type="text" name="dni"><br><label for="club">Club:</label><input id="club" type="text" name="club"><br><input type="submit" value="Crear"></form></body></html>
